includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/pestphp/pest-plugin-phpstan/extension.neon
parameters:
    tmpDir: %currentWorkingDirectory%/.phpstan-cache/main
    paths:
        - src
    level: 6
